  .container {
    padding-bottom: 10px;
    color: #405065;
  }

  .title {
    font-size: solid;
    font-family: 'Courier New', Courier, monospace;
  }

  .checked {
    color: orange;
  }
  
  .form-control {
    box-shadow: 0 10px 40px 0 #B0C1D9;
  }
  .form-control::placeholder  {
    font-family: FontAwesome;
  } 